/* Styling Sheet*/

html {
  font-size: 18px;

}

body {
  font-size: 18px;
  font-family: helvetica;
  line-height: 1.4;
}


/* Header Section*/

header {
  display: flex;
  background-color: black;
  color: white;
  font-family: helvetica;
}

.header-logo {
  display: flex;
  width: 960px;
  margin-left: 8%;

}

header img {
  height: 1.5rem;
  padding: 0.66rem 1rem

}

header h1 {
  display: flex;
  padding-left: 5px;
  padding-top: 1rem;
  font-family: helvetica;
}

/*Main Image Section*/

.main {
  display: flex;
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-image {
  display: flex;
  width: 25rem;
  height: 13rem;
  margin-top: 9rem;
  margin-left: 7%;


}

.main-text {
  position: relative;
  background-color: black;
  color: white;
  margin-left: 8%;
  padding-top: 2.75rem;
  padding-left: 3rem;
  font-family: helvetica;

}

.main-text h1 {
  font-size: 1.75rem;
  font-weight: bold;
  padding-top: 0.75rem;
  line-height: 1.4;
}

/*navigation section*/

nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
  font-family: helvetica;
  margin-left: 5%;
  margin-right: 5%;
}

.mobile-container {
  display: none;
}



/*Ecommerce Section*/

.purchase {
  width: 90%;

}

.images {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 10%;
  margin-top: 3rem;
}



figure img {
  padding: 2rem 2rem;
  padding-right: 3rem;
  height: 9rem;
  width: 200px;
  height: 150px;
  align-items: center;
  border: 4px black solid;
  vertical-align: middle;
}

figcaption {
  color: white;
  background-color: black;
  text-align: center;
  height: 2rem;
  width: auto;

}

figure figcaption {
  font-family: helvetica;
  padding-top: 1rem;
}

/*Contact Section*/

.contact {
  padding-top: 3rem;
  padding-bottom: 4rem;
  font-family: helvetica;
  width: 90%;

}

.business-info {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 10%;
}

.info {
  width: 35%;
}

.info .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;


}

.info span {
  display: block;
}

.title {
  margin-bottom: 5%;
}

/*footer section*/

footer {
  background-color: black;
  height: 5rem;
  font-family: helvetica;
}

footer p {
  margin-left: 8%;
  color: white;
  padding-top: 2rem;
  font-family: helvetica;
}

/*respondant section*/


@media only screen and (max-width: 1024px){
  nav ul {
    display: none;
  }

  .mobile-container {
    display: block;
    text-align: center;
  }
}


@media only screen and (max-width: 1024px) {
  .images {
    width: 47%;
  }

  .product-glasses {
    display: none;
  }
}


@media only screen and (max-width: 470px) {

}
